
    <!-- WELCOME -->
    <section class="pt-5 bg-dark pb-6">
      <div class="container-lg">
        <div class="row justify-content-center" data-aos="fade-up">
          <div class="col-12 text-center text-white">

            <!-- Preheading -->
            <h6 class="text-uppercase text-danger mb-5">
              Defendez Vos Droits
            </h6>

            <!-- Heading -->
            <h1 class="display-3 mb-4">
              Trouvez votre avocat grâce <br> aux avis vérifiés
            </h1>

          </div>
        </div>
        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-md-8 col-lg-6 text-center text-white">

            <!-- Text -->
            <p class="fs-lg">
              Recherchez et contactez un avocat à partir de notre base de donnée de plus de 3 000 avocat en côte d'ivoire.
            </p>

            <!-- Form -->
              <div class="input-group rounded-top-start rounded-bottom-end shadow">

                <!-- Input -->
                <input [(ngModel)]="query" class="form-control bg-white" type="text" placeholder="Rechercher par domaine de droit" aria-label="Domaine de droit" aria-describedby="searchButton">

              </div>

          </div>
        </div>
      </div>
    </section>

    <section class="pt-10 pt-md-12 bg-dark">
      <div class="container-lg">
        <div class="row align-items-center mb-9">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h2 class="display-4 text-white mb-0">
              Avocats à la une
            </h2>

            <!-- Text -->
            <p class="text-gray-500 mb-md-0">
              Les plus demandés
            </p>

          </div>
          <div class="col-12 col-md-auto">

            <!-- Nav -->
            <ul class="nav nav-tabs nav-dark nav-overflow mb-0" id="teamTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active text-primary" routerLink="/avocats">
                  Voir plus
                </a>
              </li>
            </ul>

          </div>
        </div>
        <div class="row mt-n5 pb-5">
          <div class="col-6 col-md-3" *ngFor="let avocat of avocats | FilterLawPipe: query">
            <app-avatar [item]="avocat"></app-avatar>
          </div>
          <div class="col-md-12 text-center mt-5 mb-5">
            <a class="btn btn-primary" routerLink="/avocats">
              Voir plus
            </a>
          </div>
        </div>
      </div>
    </section>
