    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-lg">

        <!-- Brand -->
        <a class="navbar-brand d-lg-none" routerLink="/">
          <img src="assets/brand/logo2.png" alt="Logo" width="200">
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Navigation -->
          <ul class="navbar-nav justify-content-end w-100">
            <li class="nav-item">
              <a class="nav-link" routerLink="/avocats">
                Trouver un avocat
              </a>
            </li>
          </ul>

          <!-- Brand -->
          <a class="navbar-brand d-none d-lg-block px-lg-6" routerLink="/">
            <img src="assets/brand/logo2.png" alt="Logo" width="200">
          </a>

          <!-- Navigation -->
          <ul class="navbar-nav justify-content-start w-100">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">
                Déposer un avis
              </a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
